*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #354259;
    color: #ECE5C7;
}

.crud{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 10px;
}
.head p{
    color: #FFCC8F;
}
input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    margin: 5px 0;
    padding-left: 10px;
    box-shadow: 1px 2px 8px rgba(0 0 0 / 0.5);
    transition: all 0.3s ease;
}

#category{
    padding: 25px 10px;
}
input:focus{
    border: 1px solid #354259;
    transform: scale(1.03);
}
.price input{
    width: 20%;
} 
#total{
    background-color: #C2DED1;
    color: #354259;
    padding: 7px 50px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 8px rgba(0 0 0 / 0.5);
}
#total::before{
    content: 'Total: ';
    font-weight: bold;
}

button{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px 8px rgba(0 0 0 / 0.5);
    background-color: #CDC2AE;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
}
button:hover{
    background-color: #354259;
    color: #C2DED1;
}
#delete_All{
    margin: 20px 0;
}

.outputs{
    margin-top: 15px;
}
.btnSearch{
    display: flex;
    justify-content: space-around;
}
.btnSearch button{
    width: 40%;
}

table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
table th{
    text-transform: uppercase;
    color: #FFCC8F;
}
table th,
table td{
    padding: 5px;
}
#update:hover{
    color: #FFCC8F;
}

@media (max-width: 767px) {
    #title{
        margin-bottom: 0px;
    }
    .price input{
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    #total{
        /* padding: 7px 100px; */
        display: flex;
        align-self: center;
        text-align: center;
        margin-bottom: 5px;
    }
    .btnSearch button{
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    table{
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        text-align: center;
    }
    table th{
        text-align: center;
        font-size: 9px;
    }
    table button{
        padding: 2.5px 2.5px;
        font-size: 12px;
    }
}